data/**
!data/*
!data/**/*.txt

workspace/**
!workspace/*

!workspace/CCO01/*
!workspace/CCO01/qc/**
!workspace/CCO01/umap/**
!workspace/CCO01/biomarkers/**

!workspace/CCO02/*
!workspace/CCO02/qc/**
!workspace/CCO02/umap/**
!workspace/CCO02/biomarkers/**

!workspace/CCO03/**
workspace/CCO03/**/*.h5ad
workspace/CCO03/**/*.h5ad.*

!workspace/CCO04/**
workspace/CCO04/**/*.h5ad
workspace/CCO04/**/*.h5ad.*

!workspace/CCO05/**
workspace/CCO05/**/*.h5ad
workspace/CCO05/**/*.h5ad.*

!/workspace/CCO06/*
!workspace/CCO06/**
workspace/CCO06/**/*.h5ad
workspace/CCO06/**/*.h5ad.*

!workspace/CCO07/*
!workspace/CCO07/**
workspace/CCO07/**/*.h5ad
workspace/CCO07/**/*.h5ad.*

!workspace/CCO08/*
!workspace/CCO08/**
workspace/CCO08/**/*.h5ad
workspace/CCO08/**/*.h5ad.*
workspace/CCO08/**/*.rds
workspace/CCO08/**/*.h5seurat

!workspace/CCO09/*
!workspace/CCO09/**
workspace/CCO09/**/*.h5ad
workspace/CCO09/**/*.h5ad.*
workspace/CCO09/**/*.rds
workspace/CCO09/**/*.h5seurat

!workspace/CCO10/*
!workspace/CCO10/**
workspace/CCO10/**/*.h5ad
workspace/CCO10/**/*.h5ad.*
workspace/CCO10/**/*.rds
workspace/CCO10/**/*.h5seurat

!workspace/CCO11/*
!workspace/CCO11/**
workspace/CCO11/**/*.h5ad
workspace/CCO11/**/*.h5ad.*
workspace/CCO11/**/*.rds
workspace/CCO11/**/*.h5seurat
workspace/CCO11/remap
workspace/CCO11/spaceranger

.ipynb_checkpoints/
**/.ipynb_checkpoints/
